{% extends 'base.html' %} {% block css %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'category_detail.css'%}" />
{% endblock %} {% block content %}
            <div class="bar">
                <a id="home" href="{% url 'list' %}">블로그 홈</a>
            </div>

            <div class="ctop">
                <p class="title">'{{ category.name }}'에 관한 글</p>
                <div><hr class="divider" /></div>
            </div>

            <div class="lists">
                <ul>
                    {% for article in articles %}
                    <li><a href="{% url 'detail' article.id %}">{{ article.title }}</li>
                    {% endfor %}
                </ul>
            </div>
{% endblock %}
