{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'category_detail.css'%}" />
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <div class="navbar">
            <div class="person">
                <div><img id="matt" src="{% static 'matt.png' %}" /></div>
                <h2>Hyunsung Shin</h2>
                <p class="cc">+82 10-7389-3269</p>
                <p class="cc">hamez611@korea.ac.kr</p>
            </div>
            <hr />
            <div class="options">
                <a href="{% url 'info' %}">Home</a>
                <a href="{% url 'project' %}">Project</a>
                <a href="{% url 'list' %}"><strong>Blog</strong></a>
                <p>Contact</p>
            </div>
        </div>
        <div class="content">
            <div class="bar">
                <a id="home" href="{% url 'list' %}">블로그 홈</a>
            </div>

            <div class="ctop">
                <p class="title">'{{ category.name }}'에 관한 글</p>
                <div><hr class="divider" /></div>
            </div>

            <div class="lists">
                <ul>
                    {% for article in articles %}
                    <li><a href="{% url 'detail' article.id %}">{{ article.title }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </body>
</html>
